{{define "title"}}Connexion | FITNATION{{end}}

{{define "content"}}
<section class="auth-page">
  <div class="form-container">
    <div class="form-header">
      <h3>Login</h3>
    </div>

    <form action="/login" method="POST">
      <div class="input-container">
        <input type="text" name="username" placeholder="Email ou pseudo" required />
        <input type="password" name="password" placeholder="Mot de passe" required />
      </div>

      <div class="button">
        <button class="submit" type="submit">LOG IN</button>
      </div>
    </form>

    <div class="signup">
      Pas de compte ? <a href="/register">S'inscrire</a>
    </div>
  </div>
</section>
{{end}}