{{define "title"}}Inscription | FITNATION{{end}}

{{define "content"}}
<section class="auth-page">
  <div class="form-container">
    <div class="form-header">
      <h3>Sign Up</h3>
    </div>

    <form class="form" method="POST" action="/register">
      <div class="input-container">
        <input type="text" name="full_name" placeholder="Nom complet" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="text" name="username" placeholder="Pseudo" required>
        <input type="password" name="password" placeholder="Mot de passe" required>
        <input type="password" name="password_confirm" placeholder="Confirmer le mot de passe" required>
      </div>
      <div class="button">
        <button class="submit" type="submit">SIGN UP</button>
      </div>
    </form>

    <div class="signup">
      Déjà inscrit ? <a href="/login">Se connecter</a>
    </div>
  </div>
</section>
{{end}}